﻿html {
	direction: rtl;
}

body {
	background-color: #F7E6CC;
	background-image: url('back.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
}

p {
	font-family: Tahoma;
	font-size: 13px;
	text-align: justify;
}
